# 基础依赖
PySide6>=6.4.2
qasync>=0.23.0

# 数据库
aiosqlite>=0.18.0

# 网络
aiohttp>=3.8.3
requests>=2.28.1

# 安全
cryptography>=39.0.0

# 工具
loguru>=0.6.0
python-dotenv>=0.21.0
pyyaml>=6.0
semver>=2.13.0
packaging>=21.3 

# Web服务
fastapi
uvicorn
jinja2
psutil
PyJWT>=2.6.0